h1 {
    color: blue;
}

#Text{
    position: absolute;
    right: 115px;
    bottom: 260px;
    height: 70px;
}

#Zenyatta {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

body {
    background-color: white;
}

input.middle:focus {
    outline-width: 0;
}